* {
    margin: 0px;
}
.todaysWeather {
    border-radius: 8px;
    border: 2px solid black;
    margin: 6px 10px;
    background-color: rgb(229, 212, 212);
    opacity: 40;
}
.location {
    text-align: center;
}
.todaysWeather {
    width: auto;
    height: auto;
}
.middlePart {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#search {
    border: none;
    border-radius: 10px;
    height: 30px;
    outline: none;
    width: 300px;
}
.getImageButton {
    border-radius: 10px;
    height: 30px;
    outline: none;
    border: none;
    width: 80px;
    background-color: rgb(137, 93, 203);
}
.header {
    background-color: purple;
    height: 50px;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 6fr;
}
body {
    background-image: url(./images/weather.jpg);
    background-size: cover;
}

.centerItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggleScale {
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: aquamarine;
}